/* Enlever le hover quand un autre élément 
est survolé */
.nav:hover li:not(:hover) {
  background: none;
  color: white;
}
li:first-child {
  background: white;
  color: black;
  &:hover {
    background: white;
    color: black;
  }
}
