@import "../styles/settings_pages";
@import "../styles/navbar";
@import "../styles/buttons";
@import "../styles/banner";
@import "../styles/footer";

// *NAV
nav {
  .menu {
    &:hover a:not(:hover) {
      color: $black;
    }
    a:nth-of-type(2) {
      color: $primary;
    }
  }
}
//
//
// *TITLE
.title {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto 48px;
  padding: 16px;
}
//
//
// *SECTION
.section {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto 48px;
  display: flex;
  align-items: center;
  gap: 24px;
  .section-left-container {
    width: 50%;
    .bold {
      font-family: $bodybold;
      padding: 16px 16px 24px;
    }
    .divider {
      width: 100%;
      margin: 16px;
      height: 1px;
      background: $black;
    }
    p {
      padding: 16px 16px 24px;
    }
  }
  .section-right-container {
    width: 50%;
    img {
      width: 100%;
      padding: 16px;
      border-radius: 8px;
    }
  }
}
//
//
// *GALLERY
.gallery-container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto 96px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 24px;
  .card-container {
    padding: 16px;
    img {
      width: 100%;
      padding-bottom: 16px;
      border-radius: 8px;
    }
    .tagline {
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
      padding: 4px 8px;
      font-size: 0.8rem;
      background: $secondary;
      border-radius: 48px;
      display: inline-block;
      margin-bottom: 16px;
    }
    .bold {
      font-family: $bodybold;
      padding-bottom: 24px;
    }
    a {
      color: $primary;
      &:hover {
        color: $secondary;
      }
    }
  }
}
