@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Bubblegum";
  src: url(../../../../../config/fonts/BubblegumSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../../../../../config/fonts/OpenSans-VariableFont_wdthwght.ttf);
}
/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              GENERAL SETTINGS                              */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: OpenSans, sans-serif;
  color: #e0fbfc;
}

body {
  background-image: linear-gradient(352deg, rgba(9, 124, 163, 0.2509803922), #097ca3);
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

p::-moz-selection, a::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection {
  background: #c2dfe3;
  color: #001011;
}

p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection {
  background: #c2dfe3;
  color: #001011;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(9, 124, 163, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 60px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
#nav .logo {
  font-family: Bubblegum, sans-serif;
  font-size: 2rem;
  color: #e0fbfc;
}
#nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#nav .logo-container img {
  height: 32px;
  padding-right: 10px;
}
#nav .navbar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#nav .navbar .logo,
#nav .navbar .divider {
  display: none;
}
#nav .navbar a {
  color: #e0fbfc;
  font-family: Bubblegum, sans-serif;
  font-size: 2rem;
  padding: 0 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 99px;
}
#nav .navbar a:hover {
  background: #c2dfe3;
  color: #001011;
}
#nav .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#nav .networks a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e0fbfc;
  font-family: Bubblegum, sans-serif;
  font-size: 1.5rem;
  padding: 5px 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 99px;
}
#nav .networks a:hover {
  background: #c2dfe3;
}
#nav .networks a:hover i {
  color: #001011;
}
#nav #icons {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                                 RESPONSIVE                                 */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  #nav {
    width: 100%;
  }
  #nav .logo-container img {
    display: none;
  }
  #nav .navbar {
    position: absolute;
    left: -100%;
    top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: rgb(9, 124, 163);
    height: 100vh;
    width: 30%;
    padding: 20px;
    gap: 16px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  #nav .navbar .logo {
    margin-left: 0;
    margin-top: 0;
    display: block;
  }
  #nav .navbar .divider {
    background: #c2dfe3;
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0;
  }
  #nav #icons {
    display: block;
  }
  #nav #icons::before {
    content: "☰";
    font-size: 2rem;
    color: #e0fbfc;
  }
  #nav.active .navbar {
    left: -20px;
  }
  #nav.active #icons::before {
    content: "✕";
    font-size: 2rem;
    color: #e0fbfc;
  }
}
@media screen and (max-width: 450px) {
  #nav a {
    font-size: 1rem;
  }
}
footer {
  width: 100%;
  text-align: center;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 124, 163, 0)), color-stop(0.01%, rgba(9, 124, 163, 0.1)), to(rgba(9, 124, 163, 0.5)));
  background: linear-gradient(180deg, rgba(9, 124, 163, 0) 0%, rgba(9, 124, 163, 0.1) 0.01%, rgba(9, 124, 163, 0.5) 100%);
}
footer .footer-container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-container p {
  font-size: 0.7rem;
}
footer .footer-container .networks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}
footer .footer-container .networks ul li {
  padding: 10px;
}
footer .footer-container .networks ul li:hover a i {
  color: #abff4f;
}
footer .footer-container .networks ul li a i {
  font-size: 1.1rem;
}
@media screen and (max-width: 900px) {
  footer .footer-container .networks ul li a i {
    font-size: 0.8rem;
  }
}

.btn {
  font-family: Bubblegum, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 30px;
  margin-right: 20px;
  border: 1px solid #001011;
  border-radius: 10px;
  color: #001011;
}

.btn-primaire {
  border: 1px solid #e0fbfc;
  background: #097ca3;
  color: #e0fbfc;
}
.btn-primaire:hover {
  border: 1px solid #001011;
  background: #abff4f;
  color: #001011;
}

.btn-secondaire {
  border: 1px solid #097ca3;
  color: #097ca3;
}
.btn-secondaire:hover {
  border: 1px solid #001011;
  background: #abff4f;
  color: #001011;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#097ca3), to(rgba(0, 87, 255, 0.28)));
  background: linear-gradient(180deg, #097ca3 0%, rgba(0, 87, 255, 0.28) 100%);
  min-height: 100vh;
  position: relative;
}

#nav ul li:nth-child(2) {
  border-bottom: 2px solid #abff4f;
}

.title {
  width: 85%;
  max-width: 1200px;
  margin: 50px auto;
  text-align: center;
}
.title h1 {
  color: #001011;
  text-transform: uppercase;
  font-size: 2.4rem;
}
.title h3 {
  color: #001011;
  padding: 20px 0 40px;
  font-size: 1.2rem;
}
.title p {
  color: #c2dfe3;
}

.main .main-container {
  width: 80%;
  margin: 50px auto;
}
.main .main-container .cursor-circle {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(194, 223, 227, 0.2274509804); /* Couleur du cercle, ajuste-la selon tes préférences */
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none; /* Assure que le cercle n'interfère pas avec les interactions du curseur */
  display: none; /* Initialement caché */
}
.main .main-container .convex-lens-container {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
}
.main .main-container .convex-lens-container img {
  width: 200px;
  height: 200px;
}
.main .main-container .convex-lens-container p {
  color: #001011;
  line-height: 1.5em;
}
.main .main-container .concav-lens-container {
  margin: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 50px;
}
.main .main-container .concav-lens-container img {
  width: 200px;
  height: 200px;
}
.main .main-container .concav-lens-container p {
  color: #001011;
  line-height: 1.5em;
}

footer {
  position: absolute;
  bottom: 0;
}/*# sourceMappingURL=mouse-effect.css.map */