//* FIRST BUTTON
#first-button {
  padding: 8px 16px;
  margin-right: 16px;
  background: $primary;
  border-radius: 8px;
  a {
    color: $white;
    &:hover {
      color: $black;
    }
  }
  &:hover {
    background: $secondary;
  }
}
//
//
//* SECOND BUTTON
#second-button {
  padding: 8px 16px;
  margin-right: 16px;
  background: $secondary;
  border-radius: 8px;
  a {
    color: $black;
    &:hover {
      color: $white;
    }
  }
  &:hover {
    background: $primary;
  }
}
