footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 24px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  @media screen and (max-width: 620px) {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
      "copr copr"
      "mleg netw";
  }
  ul {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 620px) {
      justify-content: flex-end;
    }
  }
  a,
  i,
  p {
    color: $white1;
    font-size: 1rem;
    padding: 5px;
    @media screen and (max-width: 800px) {
      font-size: 0.7rem;
    }
  }
  .copyright {
    grid-area: copr;
    display: inline-flex;
    @media screen and (max-width: 620px) {
      justify-content: space-between;
    }
    p {
      @media screen and (max-width: 620px) {
        margin: 12px 0;
      }
    }
  }
  .mentions-legales {
    grid-area: mleg;
  }
  .network {
    grid-area: netw;
  }
}
