header {
  position: relative;
  .header-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .header-left {
      width: 60%;
      padding-left: 48px;
      color: $white1;
      h1 {
        font-size: 4rem;
      }
      h2 {
        color: $white2;
        line-height: 1.5em;
      }
    }
    .header-right {
      width: 40%;
      text-align: center;
      display: block;
      img {
        height: 500px;
        box-shadow: 5px 5px 5px $black2;
      }
    }
  }
}
