.navbar {
  max-width: 1200px;
  width: 95%;
  margin: 24px auto 96px;
  padding: 0 16px;
  background: $backgroundgrey;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .nav a {
    padding: 16px 32px;
  }
  .networks i {
    padding: 16px 8px;
  }
  .icons {
    display: none;
  }
}
