.navbar {
  display: flex;
  align-items: center;
  height: 100px;
  padding: 24px;
  width: 90%;
  margin: 0 auto;
  max-width: 1200px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  ul {
    height: 100%;
  }
  a,
  i {
    color: $white1;
  }
  .nav-left {
    width: 10%;
    height: 100%;
    margin: auto;
    text-align: center;
    img {
      width: 100%;
      object-fit: cover;
      padding: auto 12px;
    }
  }
  .nav-middle {
    width: 80%;
    height: 100%;
    &:hover li:not(:hover) {
      border-bottom: none;
    }

    ul {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: auto;
      height: 100%;
      li {
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 36px;
        &:nth-child(1) {
          border-bottom: 3px solid $orange;
        }
        &:hover {
          border-bottom: 3px solid $orange;
        }
        a {
          color: $white1;
          align-items: center;
        }
      }
    }
  }
  .nav-right {
    width: 10%;
    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
