@import "./settings";
@import "./header";
@import "./navbar-accueil";
@import "./footer";

// ******** PORTFOLIO ********
section.portfolio {
  background: $white1;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .portfolio-left {
    width: 50%;
    @media screen and (max-width: 620px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      padding: 60px;
      @media screen and (max-width: 770px) {
        padding: 30px;
      }
    }
  }
  .portfolio-right {
    width: 50%;
    padding-right: 60px;
    @media screen and (max-width: 770px) {
      padding-right: 30px;
    }
    @media screen and (max-width: 620px) {
      width: 85%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  }
}
// ******** A PROPOS ********
section.a-propos {
  background: $white2;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .a-propos-right {
    width: 50%;
    @media screen and (max-width: 620px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      padding: 60px;
      @media screen and (max-width: 620px) {
        padding: 30px;
      }
    }
  }
  .a-propos-left {
    width: 50%;
    padding-left: 60px;
    @media screen and (max-width: 770px) {
      padding-left: 30px;
    }
    @media screen and (max-width: 620px) {
      width: 85%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  }
}
// ******** CONTACT ********
section.contact {
  background: $white1;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .contact-left {
    width: 50%;
    @media screen and (max-width: 620px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      padding: 60px;
      @media screen and (max-width: 770px) {
        padding: 30px;
      }
    }
  }
  .contact-right {
    width: 50%;
    padding-right: 60px;
    @media screen and (max-width: 770px) {
      padding-right: 30px;
    }
    @media screen and (max-width: 620px) {
      width: 85%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
  }
}
