@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
@font-face {
  font-family: "Bubblegum";
  src: url(../../../../../config/fonts/BubblegumSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../../../../../config/fonts/OpenSans-VariableFont_wdthwght.ttf);
}
/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/*                              GENERAL SETTINGS                              */
/* -------------------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: OpenSans, sans-serif;
  color: #e0fbfc;
}

body {
  background-image: linear-gradient(352deg, rgba(9, 124, 163, 0.2509803922), #097ca3);
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

p::-moz-selection, a::-moz-selection, h1::-moz-selection, h2::-moz-selection, h3::-moz-selection {
  background: #c2dfe3;
  color: #001011;
}

p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection {
  background: #c2dfe3;
  color: #001011;
}

/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(9, 124, 163, 0.25);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  height: 60px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
}
#nav .logo {
  font-family: Bubblegum, sans-serif;
  font-size: 2rem;
  color: #e0fbfc;
}
#nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#nav .logo-container img {
  height: 32px;
  padding-right: 10px;
}
#nav .navbar {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#nav .navbar .logo,
#nav .navbar .divider {
  display: none;
}
#nav .navbar a {
  color: #e0fbfc;
  font-family: Bubblegum, sans-serif;
  font-size: 2rem;
  padding: 0 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 99px;
}
#nav .navbar a:hover {
  background: #c2dfe3;
  color: #001011;
}
#nav .networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#nav .networks a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #e0fbfc;
  font-family: Bubblegum, sans-serif;
  font-size: 1.5rem;
  padding: 5px 10px;
  -webkit-transition: 300ms;
  transition: 300ms;
  border-radius: 99px;
}
#nav .networks a:hover {
  background: #c2dfe3;
}
#nav .networks a:hover i {
  color: #001011;
}
#nav #icons {
  display: none;
}

/* -------------------------------------------------------------------------- */
/*                                 RESPONSIVE                                 */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 800px) {
  #nav {
    width: 100%;
  }
  #nav .logo-container img {
    display: none;
  }
  #nav .navbar {
    position: absolute;
    left: -100%;
    top: -20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    background: rgb(9, 124, 163);
    height: 100vh;
    width: 30%;
    padding: 20px;
    gap: 16px;
    -webkit-transition: 300ms;
    transition: 300ms;
  }
  #nav .navbar .logo {
    margin-left: 0;
    margin-top: 0;
    display: block;
  }
  #nav .navbar .divider {
    background: #c2dfe3;
    display: block;
    width: 100%;
    height: 2px;
    margin: 10px 0;
  }
  #nav #icons {
    display: block;
  }
  #nav #icons::before {
    content: "☰";
    font-size: 2rem;
    color: #e0fbfc;
  }
  #nav.active .navbar {
    left: -20px;
  }
  #nav.active #icons::before {
    content: "✕";
    font-size: 2rem;
    color: #e0fbfc;
  }
}
@media screen and (max-width: 450px) {
  #nav a {
    font-size: 1rem;
  }
}
footer {
  width: 100%;
  text-align: center;
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 124, 163, 0)), color-stop(0.01%, rgba(9, 124, 163, 0.1)), to(rgba(9, 124, 163, 0.5)));
  background: linear-gradient(180deg, rgba(9, 124, 163, 0) 0%, rgba(9, 124, 163, 0.1) 0.01%, rgba(9, 124, 163, 0.5) 100%);
}
footer .footer-container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer-container p {
  font-size: 0.7rem;
}
footer .footer-container .networks ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
}
footer .footer-container .networks ul li {
  padding: 10px;
}
footer .footer-container .networks ul li:hover a i {
  color: #abff4f;
}
footer .footer-container .networks ul li a i {
  font-size: 1.1rem;
}
@media screen and (max-width: 900px) {
  footer .footer-container .networks ul li a i {
    font-size: 0.8rem;
  }
}

.btn {
  font-family: Bubblegum, sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  padding: 10px 30px;
  margin-right: 20px;
  border: 1px solid #001011;
  border-radius: 10px;
  color: #001011;
}

.btn-primaire {
  border: 1px solid #e0fbfc;
  background: #097ca3;
  color: #e0fbfc;
}
.btn-primaire:hover {
  border: 1px solid #001011;
  background: #abff4f;
  color: #001011;
}

.btn-secondaire {
  border: 1px solid #097ca3;
  color: #097ca3;
}
.btn-secondaire:hover {
  border: 1px solid #001011;
  background: #abff4f;
  color: #001011;
}

body {
  background-image: linear-gradient(191deg, rgba(193, 193, 193, 0.05) 0%, rgba(193, 193, 193, 0.05) 2%, rgba(129, 129, 129, 0.05) 2%, rgba(129, 129, 129, 0.05) 27%, rgba(185, 185, 185, 0.05) 27%, rgba(185, 185, 185, 0.05) 66%, rgba(83, 83, 83, 0.05) 66%, rgba(83, 83, 83, 0.05) 100%), linear-gradient(500deg, rgba(240, 240, 240, 0.05) 0%, rgba(240, 240, 240, 0.05) 13%, rgba(231, 231, 231, 0.05) 13%, rgba(231, 231, 231, 0.05) 34%, rgba(139, 139, 139, 0.05) 34%, rgba(139, 139, 139, 0.05) 71%, rgba(112, 112, 112, 0.05) 71%, rgba(112, 112, 112, 0.05) 100%), linear-gradient(415deg, rgba(189, 189, 189, 0.05) 0%, rgba(189, 189, 189, 0.05) 47%, rgba(138, 138, 138, 0.05) 47%, rgba(138, 138, 138, 0.05) 58%, rgba(108, 108, 108, 0.05) 58%, rgba(108, 108, 108, 0.05) 85%, rgba(143, 143, 143, 0.05) 85%, rgba(143, 143, 143, 0.05) 100%), linear-gradient(275deg, rgba(53, 53, 53, 0.05) 0%, rgba(53, 53, 53, 0.05) 53%, rgba(44, 44, 44, 0.05) 53%, rgba(44, 44, 44, 0.05) 82%, rgba(77, 77, 77, 0.05) 82%, rgba(77, 77, 77, 0.05) 98%, rgba(9, 124, 163, 0) 98%, rgba(9, 124, 163, 0) 100%), linear-gradient(513deg, rgb(0, 16, 17), rgb(0, 16, 17));
  min-height: 100vh;
}

#nav ul li:nth-child(3) {
  border-bottom: 2px solid #abff4f;
}

h1 {
  max-width: 1200px;
  width: 80%;
  margin: 100px auto;
  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: #097ca3;
}
@media screen and (max-width: 500px) {
  h1 {
    margin: 50px auto;
  }
}
@media screen and (max-width: 995px) {
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 1.5rem;
  }
}

h2 {
  margin: 300px 0;
  text-align: center;
  font-size: 3rem;
}
@media screen and (max-width: 995px) {
  h2 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=blog.css.map */