// ******** LAYOUTS ********
@import "../../../../config/styles/layouts/settings";
@import "../../../../config/styles/layouts/navbar";
@import "../../../../config/styles/layouts/footer";

// ******** COMPONENTS ********
@import "../../../../config/styles/components/buttons";

// ******** HEADER ********
body {
  background-image: linear-gradient(
      191deg,
      rgba(193, 193, 193, 0.05) 0%,
      rgba(193, 193, 193, 0.05) 2%,
      rgba(129, 129, 129, 0.05) 2%,
      rgba(129, 129, 129, 0.05) 27%,
      rgba(185, 185, 185, 0.05) 27%,
      rgba(185, 185, 185, 0.05) 66%,
      rgba(83, 83, 83, 0.05) 66%,
      rgba(83, 83, 83, 0.05) 100%
    ),
    linear-gradient(
      500deg,
      rgba(240, 240, 240, 0.05) 0%,
      rgba(240, 240, 240, 0.05) 13%,
      rgba(231, 231, 231, 0.05) 13%,
      rgba(231, 231, 231, 0.05) 34%,
      rgba(139, 139, 139, 0.05) 34%,
      rgba(139, 139, 139, 0.05) 71%,
      rgba(112, 112, 112, 0.05) 71%,
      rgba(112, 112, 112, 0.05) 100%
    ),
    linear-gradient(
      415deg,
      rgba(189, 189, 189, 0.05) 0%,
      rgba(189, 189, 189, 0.05) 47%,
      rgba(138, 138, 138, 0.05) 47%,
      rgba(138, 138, 138, 0.05) 58%,
      rgba(108, 108, 108, 0.05) 58%,
      rgba(108, 108, 108, 0.05) 85%,
      rgba(143, 143, 143, 0.05) 85%,
      rgba(143, 143, 143, 0.05) 100%
    ),
    linear-gradient(
      275deg,
      rgba(53, 53, 53, 0.05) 0%,
      rgba(53, 53, 53, 0.05) 53%,
      rgba(44, 44, 44, 0.05) 53%,
      rgba(44, 44, 44, 0.05) 82%,
      rgba(77, 77, 77, 0.05) 82%,
      rgba(77, 77, 77, 0.05) 98%,
      rgba(9, 124, 163, 0) 98%,
      rgba(9, 124, 163, 0) 100%
    ),
    linear-gradient(513deg, rgb(0, 16, 17), rgb(0, 16, 17));
  min-height: 100vh;
}

// ******** NAV ********
#nav ul li:nth-child(3) {
  border-bottom: 2px solid $secondaire;
}

h1 {
  max-width: 1200px;
  width: 80%;
  margin: 100px auto;
  @media screen and (max-width: 500px) {
    margin: 50px auto;
  }

  margin-top: 100px;
  text-align: center;
  text-transform: uppercase;
  font-size: 3rem;
  color: $primaire;
  @media screen and (max-width: 995px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.5rem;
  }
}

h2 {
  margin: 300px 0;
  text-align: center;
  font-size: 3rem;
  @media screen and (max-width: 995px) {
    font-size: 2rem;
  }
  @media screen and (max-width: 500px) {
    font-size: 1.5rem;
  }
}
