// ******** LAYOUTS ********
@import "../../../../config/styles/layouts/settings";
@import "../../../../config/styles/layouts/navbar";
@import "./layouts/header";
@import "../../../../config/styles/layouts/footer";

// ******** COMPONENTS ********
@import "../../../../config/styles/components/buttons";

// *BACKGROUND
body {
  background-image: linear-gradient(352deg, #097ca340, #097ca3);
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
  #avatar {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50vh;
  }
}
