/* -------------------------------------------------------------------------- */
/*                                   NAVBAR                                   */
/* -------------------------------------------------------------------------- */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(9, 124, 163, 0.25);
  backdrop-filter: blur(10px);
  height: 60px;
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  .logo {
    font-family: $title;
    font-size: 2rem;
    color: $blanc;
  }
  .logo-container {
    display: flex;
    align-items: center;
    img {
      height: 32px;
      padding-right: 10px;
    }
  }
  .navbar {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo,
    .divider {
      display: none;
    }
    a {
      color: $blanc;
      font-family: $title;
      font-size: 2rem;
      padding: 0 20px;
      transition: 300ms;
      border-radius: 99px;
      &:hover {
        background: $gris;
        color: $noir;
      }
    }
  }
  .networks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: $blanc;
      font-family: $title;
      font-size: 1.5rem;
      padding: 5px 10px;
      transition: 300ms;
      border-radius: 99px;
      &:hover {
        background: $gris;
        i {
          color: $noir;
        }
      }
    }
  }
  #icons {
    display: none;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 RESPONSIVE                                 */
/* -------------------------------------------------------------------------- */
// *TABLETTE
@media screen and (max-width: 800px) {
  #nav {
    width: 100%;
    .logo-container {
      img {
        display: none;
      }
    }
    .navbar {
      position: absolute;
      left: -100%;
      top: -20px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: rgba(9, 124, 163, 1);
      height: 100vh;
      width: 30%;
      padding: 20px;
      gap: 16px;
      transition: 300ms;
      .logo {
        margin-left: 0;
        margin-top: 0;
        display: block;
      }
      .divider {
        background: $gris;
        display: block;
        width: 100%;
        height: 2px;
        margin: 10px 0;
      }
    }
    #icons {
      display: block;
      &::before {
        content: "\2630";
        font-size: 2rem;
        color: $blanc;
      }
    }
  }
  #nav.active {
    .navbar {
      left: -20px;
    }
    #icons::before {
      content: "\2715";
      font-size: 2rem;
      color: $blanc;
    }
  }
}

// *MOBILE
@media screen and (max-width: 450px) {
  #nav {
    a {
      font-size: 1rem;
    }
  }
}
