/* -------------------------------------------------------------------------- */
/*                                    FONTS                                   */
/* -------------------------------------------------------------------------- */
// *INTEGRATION FONTS
@font-face {
  font-family: "Bubblegum";
  src: url(../../../../../config/fonts/BubblegumSans-Regular.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(../../../../../config/fonts/OpenSans-VariableFont_wdth\wght.ttf);
}

// *VARIABLES FONTS
$title: Bubblegum, sans-serif;
$paragraph: OpenSans, sans-serif;

/* -------------------------------------------------------------------------- */
/*                                   COLORS                                   */
/* -------------------------------------------------------------------------- */
// *VARIABLES COLORS
$primaire: #097ca3;
$secondaire: #abff4f;
$blanc: #e0fbfc;
$gris: #c2dfe3;
$noir: #001011;

/* -------------------------------------------------------------------------- */
/*                              GENERAL SETTINGS                              */
/* -------------------------------------------------------------------------- */
// *STYLE GENERAL
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: $paragraph;
  color: $blanc;
}

// *BACKGROUND
body {
  background-image: linear-gradient(352deg, #097ca340, #097ca3);
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

// *SELECTION
p::selection,
a::selection,
h1::selection,
h2::selection,
h3::selection {
  background: $gris;
  color: $noir;
}
