// ******** LAYOUTS ********
@import "../../../../config/styles/layouts/settings";
@import "../../../../config/styles/layouts/navbar";
@import "../../../../config/styles/layouts/footer";

// ******** COMPONENTS ********
@import "../../../../config/styles/components/buttons";
@import "../../../../config/styles/components/links";

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
// *BACKGROUND
body {
  background-image: linear-gradient(352deg, #097ca340, #097ca3);
  position: relative;
  width: 100%;
  padding: 20px;
}

// *TEXT-CONTAINER
.text-container {
  max-width: 1200px;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  h1 {
    font-family: $title;
    font-size: 2rem;
    padding: 10px 0;
    color: $noir;
  }
  p {
    font-family: $paragraph;
    line-height: 1.5em;
    color: $noir;
  }
}

// *GALLERIE
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 8%;
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
    h4 {
      font-size: 1.2rem;
      font-family: $title;
      font-weight: 600;
      color: $noir;
    }
    img {
      width: 100%;
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                 RESPONSIVE                                 */
/* -------------------------------------------------------------------------- */
@media screen and (max-width: 585px) {
  .text-container {
    h1 {
      font-size: 1.5rem;
    }
    p {
      line-height: 1em;
    }
  }
}
